# Go specific
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# Binary output directory
/bin/

# Dependency directories
/vendor/

# Serverless directories
.serverless/

# Environment variables
.env
.env.development
.env.production

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db
